[Desktop Entry]
Exec[$e]=cd $HOME/.config/ecwolf && ecwolf --fullscreen --data SOD
Icon[$e]=$HOME/.config/ecwolf/SOD.ICO
Name=Spear of Destiny
Type=Application
