[Desktop Entry]
Exec=gzdoom -iwad STRIFE1.WAD -file VOICES.WAD files/strfrus_1.1.3.pk3 +sv_nojump 0 +language ru
Icon[$e]=$HOME/.config/gzdoom/icons/strife.png
Name=Strife: Quest for the Sigil
Type=Application
