[Desktop Entry]
Exec=gzdoom -iwad TNT.WAD -file files/doom-n-quake.pk3
Icon[$e]=$HOME/.config/gzdoom/icons/Dc.ico
Name=Final Doom: TNT - Evilution
Type=Application
